.App {
  text-align: center;
  padding: 50px 0 50px 0;
}
.light-theme{
  background-color: #fff;
  color:#000;
}
.theme-button{
  color:#000;
  background-color: #f0f0f0;
}
.display-scintific{
  height: 45px;
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.calci-button{
  width: 50px;
  height: 30px;
}

.theme{
  flex-direction: row;
  justify-content: center;
  display: flex;
}
.theme-light{
  color:#000;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
.theme-dark{
  color:#fff;
  background-color: #666;
  border: 1px solid #666;
}

.result{
  height: 24px;
}
.scientific{
  height: 10px;
  padding-right: 50px;
}
